.overlay {
  @extend %container;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: $bg-color;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Hero480-min.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  @media (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/Hero480-2x-min.jpg");
    }
  }
  @media screen and (min-width: 767px) {
    .overlay {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/Hero767-min.jpg");
    }
    @media (min-resolution: 2dppx) {
      .overlay {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("../images/Hero767@2x-min.jpg");
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/Hero1200-min.jpg");

    @media (min-resolution: 2dppx) {
      .overlay {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("../images/Hero1200@2x-min.jpg");
      }
    }
  }
}

.hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  margin-bottom: 30px;
  text-transform: uppercase;
  color: $white-color;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  @media screen and (min-width: 1200px) {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $white-color;
  background-color: $accent-color;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
