.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  padding: 15px;
  background-color: $white-color;
  @media screen and (min-width: 480px) {
    width: 450px;
    height: 609px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}
.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: $white-color;
  padding-top: 4px;
  padding-left: 5px;
}

.btn-close:hover svg {
  fill: $accent-color;
}
/* .form-title::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-image: url(../images/close-black.svg);
  border-radius: 50%;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.form-title::before:hover {
  background-image: url(../images/close-blu.svg);
} */
.form-title {
  padding-top: 40px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
.form-field {
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 58px;
  @media screen and (min-width: 480px) {
    width: 370px;
  }
  @media screen and (min-width: 1200px) {
    width: 448px;
  }
}
.form-label {
  position: relative;
  display: block;
  text-align: left;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $link-color;
}
.form-label:hover,
.form-label:focus {
  border-color: $accent-color;
  fill: $accent-color;
}
.user-name {
  margin-top: 4px;
  padding-left: 42px;
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  @media screen and (min-width: 480px) {
    width: 370px;
  }
  @media screen and (min-width: 1200px) {
    width: 448px;
  }
}
.user-name:focus ~ svg {
  fill: $accent-color;
}
.user-name:focus {
  outline: none;
  border: 1px solid $accent-color;
}
.form-label svg {
  position: absolute;
  bottom: 14px;
  left: 15px;
}
.form-comment {
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @media screen and (min-width: 480px) {
    width: 370px;
  }
  @media screen and (min-width: 1200px) {
    width: 448px;
  }
}
.comment-field {
  margin-top: 4px;
  display: block;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  @media screen and (min-width: 480px) {
    width: 370px;
  }
  @media screen and (min-width: 1200px) {
    width: 448px;
  }
}
textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
textarea {
  resize: none;
}
.policy-agree {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $link-color;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}
.policy-link {
  cursor: pointer;
  font-size: 12px;
  line-height: 1.71;
  color: $accent-color;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}
.policy-link::after {
  content: "";
  background-color: $accent-color;
  width: 110px;
  display: block;
  height: 0.5px;
  margin-left: 0px;
  margin-top: -4px;
  @media screen and (min-width: 480px) {
    margin-left: 262px;
  }
  @media screen and (min-width: 768px) {
    margin-left: 260px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 301px;
    width: 128px;
  }
}
.checkbox {
  appearance: none;
  position: absolute;
}
.icon-agree {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid $text-color;
  margin-right: 8px;
  margin-top: 4px;
}
.checkbox:checked + .icon-agree {
  background-color: $accent-color;
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: $accent-color;
}
.button-submit {
  margin-top: 30px;
  padding: 0;
  width: 200px;
  height: 50px;
  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: $accent-color;
  cursor: pointer;
}
.submit-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88px;
  letter-spacing: 0.06em;
  color: $white-color;
}

.policy-agree > label {
  @media screen and (max-width: 479px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
